.main{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: #041F1E;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide{
    background: #041F1E;
    overflow: hidden;
}
.main img{
    height: 200px;
    width: 200px; 
    transform: translateY(110%);
    display: inline-block;
}