.main{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(../image/image1.jpeg);
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.mainBody{
    width: 40%;
}
@media (max-width: 765px) {
    .mainBody{
    width: 70%;
}
}
@media (max-width: 425px) {
    .mainBody{
    width: 100%;
}
}
.Navmain{
    background: #041F1E;
    height: 50px;
    padding:0px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Navmain a{
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}


img {
    width: 100%;
    height: 40vh;
}
.mid{
    width: 100%;
}
.midCap{
    display: flex;
    align-items: center;
    width: 100%;
}
.midCap img{
    width: 50%;
    height: 370px;
}
.capText{
    background: #041F1E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 370px;
}
.capText p{
    color: #fff;
    font-size: 42px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
}
.capText a{
    background: #F7DBA7;
    padding: 10px 20px;
    border-radius: 8px;
}
.button{
    background: #30BCED;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none !important;
    color: #fff !important;
    margin: 50px;
}
.footerMain{
    background: #041F1E;
    color: #fff;
    padding: 20px 30px;
}
.footerTop{
    display: flex;
    justify-content: space-between; 
}

.footerName p{
    width: 300px;
}
.copywrite{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
@media (max-width: 765px) {
    .footerTop{
        flex-direction: column;
    }
}