.main{
    background: #413C58;
    height: 50px;
    padding:0px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main a{
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

